{%extends "header.html"%}



{% block content %}

    <h3>{{list.name}}<h3>
    <p>{{list.description}}</p> 
    <p>created_by : <a href="{% url 'profile' user_id=list.prouser.prouser.user_id %}">{{list.prouser.prouser.username}}</a></p>

    <ul>
    {% for movie in list.movielist_set.all %}
        <li><a href="{% url 'movie_detail' movie_id=movie.movie.movie_id %}">{{ movie.movie.title}}</a></li>
    {% endfor %}
    </ul>

    {% if request.session.user_id %}
        {% if request.session.user_id == list.prouser.prouser.user_id %}
            <h3>add movie to this list</h3>
            <form action="{%url 'addtolist' list_id=list.list_id %}" method="POST">
                {% csrf_token %}
                {{form}}
                <button type="submit">add</button>
            </form>

        {% endif %}
    {% endif %}






{% endblock %} 