
{%extends "header.html"%}

{% block content %}


<h1>MOVIE PAGE </h1>
<h2>{{ movie.title }}</h2>

<form action="watch/" method="POST">
    {% csrf_token %}
    <button type="submit">watch now</button>
</form>
{% for s in movie.specialmovie_set.all %}
<p>special --- price = {{s.price}}</p>
{% endfor %}


<p>production year: {{movie.year}}</p>
<p>produer: {{movie.producer}}</p>
<p>description: {{movie.description}}</p>


<h5>related tags</h5>


{% for tag in movie.movietag_set.all %}
<p>{{tag.tag.name}}</p>

{% endfor %}


    
<table>
    <tr>
    <th>Username</th>
    <th>Rating</th>
    <th>Comment</th>
    </tr>
    
    {% for opinion in movie.opinion_set.all %}
    <tr>
    <td>{{ opinion.rate }}</td>
    <td>{{ opinion.comment }}</td>
    <td>{{ opinion.user }}</td>
    </tr>
    {% endfor %}
    


</table>

{% endblock %} 







