
{%extends "header.html"%}



{% block content %}




<h1>User Profile</h1>


<form action="edit/" method="POST">
    {% csrf_token %}
    {{form}}
    <p>user points = {{user.points}}</p>
    <p>user wallet = {{user.wallet}}</p>
    <p>user introducer={{user.introducer}}</p>
    <button type="submit">edit profile</button>
</form>

<h3>add an introducer</h3>
<form action="{{user.user_id}}/addintroducer/" method="POST">
    {% csrf_token %}
    <p>user introducer={{user.introducer}}</p>
    {{form2}}

    <button type="submit">add introducer</button>
</form>

<h3>increare your wallet</h3>
<form action="{%url 'raiseWallet' user_id=user.user_id %}" method="POST">
    {% csrf_token %}
    <p>user wallet={{user.wallet}}</p>
    {{form3}}
    <button type="submit">add</button>
</form>


{% endblock %} 


